<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CyberBall</title>
		<link rel="stylesheet" href="styles/game.css" />
		<link rel="stylesheet" href="styles/player.css" />
		<style>
			* {
				text-align: center;
			}

			#game-page {
				width: 100%;
				display: grid;
				grid-template-rows: 1fr 2fr 1fr;
				justify-items: center;
				align-items: center;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="game-canvas">
			<div class="canvas-wrap">
				<div id="game-page">
					<h1>CyberBall</h1>
					<div class="players-wrap">
						<div
							:style="position"
							v-for="(position, idx) in gridArea"
							:key="idx"
						>
							<img
								class="player-img"
								:class="playerLeftWard[idx]? 'player-leftWard': 'player-rightWard'"
								src="Images/Cyberboy/idle-right.png"
							/>
							<p class="display-names">{{ playerName[idx] }}</p>
						</div>
					</div>
					<label>
						请输入玩家数量：
						<input
							type="number"
							v-model="player.numInput"
							value="3"
							min="3"
							max="9"
						/>
					</label>
				</div>
			</div>
		</div>

		<script src="script/vue.global.prod.js"></script>
		<script>
			const app = Vue.createApp({
				data() {
					return {
						rect: {
							mode1: [
								"3 / 2 / auto / 4",
								"2 / 1",
								"2 / 4",
								"1 / 2 / auto / 4",
								"3 / 3",
								"1 / 3",
								"1 / 1 / 3",
								"1 / 4 / 3",
								"3 / 1 / auto / 3",
							],
							mode2: [
								"3 / 2",
								"2 / 1 / 4",
								"2 / 4 / 4",
								"1 / 2",
								"3 / 3 / auto / 5",
								"1 / 4 / 3",
								"1 / 1 / 3",
								"1 / 4 / 3",
								"3 / 1 / auto / 3",
							],
						},
						player: {
							num: 3,
							numInput: 3,
							isLeftWard: [2, 4, 5, 7, 9],
							modeMap: {
								3: [],
								4: [],
								5: [0],
								6: [0, 3],
								7: [0, 1, 2, 5],
								8: [0, 1, 2, 3],
								9: [1, 2, 3, 4],
							},
						},
					};
				},
				updated() {
					this.checkPlayerNum();
				},
				computed: {
					gridArea() {
						let newList = [];
						for (let i = 0; i < this.player.num; i++) {
							newList.push(this.getGridArea(i));
						}
						return newList;
					},
					playerName() {
						return [0, "1", "2", 3, 4, 5, 6, 7, "8"];
					},
					playerLeftWard() {
						let newList = [];
						for (let i = 0; i < this.player.num; i++) {
							this.player.isLeftWard.includes(i)
								? newList.push(true)
								: newList.push(false);
						}
						return newList;
					},
				},
				methods: {
					isGridMode2() {
						if (this.player.num in this.player.modeMap) {
							return this.player.modeMap[this.player.num];
						}
					},
					getGridArea(i) {
						if (this.isGridMode2().includes(i)) {
							return `grid-area: ${this.rect.mode2[i]}`;
						} else {
							return `grid-area: ${this.rect.mode1[i]}`;
						}
					},
					checkPlayerNum() {
						if (this.player.numInput in this.player.modeMap) {
							this.player.num = this.player.numInput;
						} else if (this.player.numInput !== "") {
							alert("请输入3-9之间的数值！");
							this.player.numInput = this.player.num;
						}
					},
				},
			});

			app.mount("#game-page");
		</script>
	</body>
</html>
