<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CyberBall</title>
		<link rel="stylesheet" href="styles/game.css" />
		<link rel="stylesheet" href="styles/player.css" />
		<style>
			* {
				text-align: center;
			}

			#game-page {
				width: 100%;
				display: grid;
				grid-template-rows: 1fr 2fr 1fr;
				justify-items: center;
				align-items: center;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="game-canvas">
			<div class="canvas-wrap">
				<div id="game-page">
					<h1>CyberBall</h1>
					<div class="players-wrap">
						<single-player-wrap
							v-for="playerX in player.list"
							:pos="playerX"
							:key="playerX.id"
						></single-player-wrap>

						<div :style="gridArea[1]" v-show="player.show[1]">
							<img class="player-img" src="Images/Cyberboy/idle-right.png" />
							<p class="display-names">{{ playerName[1] }}</p>
						</div>
						<div :style="gridArea[2]" v-show="player.show[2]">
							<img
								class="player-img player-leftWard"
								src="Images/Cyberboy/idle-right.png"
							/>
							<p class="display-names">{{ playerName[2] }}</p>
						</div>
						<div :style="gridArea[3]" v-show="player.show[3]">
							<img class="player-img" src="Images/Cyberboy/idle-right.png" />
							<p class="display-names">{{ playerName[3] }}</p>
						</div>
						<div :style="gridArea[4]" v-show="player.show[4]">
							<img
								class="player-img player-leftWard"
								src="Images/Cyberboy/idle-right.png"
							/>
							<p class="display-names">{{ playerName[4] }}</p>
						</div>
						<div :style="gridArea[5]" v-show="player.show[5]">
							<img
								class="player-img player-leftWard"
								src="Images/Cyberboy/idle-right.png"
							/>
							<p class="display-names">{{ playerName[5] }}</p>
						</div>
						<div :style="gridArea[6]" v-show="player.show[6]">
							<img class="player-img" src="Images/Cyberboy/idle-right.png" />
							<p class="display-names">{{ playerName[6] }}</p>
						</div>
						<div :style="gridArea[7]" v-show="player.show[7]">
							<img
								class="player-img player-leftWard"
								src="Images/Cyberboy/idle-right.png"
							/>
							<p class="display-names">{{ playerName[7] }}</p>
						</div>
						<div :style="gridArea[8]" v-show="player.show[8]">
							<img class="player-img" src="Images/Cyberboy/idle-right.png" />
							<p class="display-names">{{ playerName[8] }}</p>
						</div>
						<div :style="gridArea[0]" v-show="player.show[0]">
							<img class="player-img" src="Images/Cyberboy/idle-right.png" />
							<p class="display-names">player</p>
						</div>
					</div>
					<label>
						请输入玩家数量：
						<input
							type="number"
							v-model="player.num"
							value="3"
							min="3"
							max="9"
						/>
					</label>
				</div>
			</div>
		</div>

		<script src="script/vue.global.prod.js"></script>
		<script>
			const app = Vue.createApp({
				data() {
					return {
						rect: {
							mode1: [
								"3 / 2 / auto / 4",
								"2 / 1",
								"2 / 4",
								"1 / 2 / auto / 4",
								"3 / 3",
								"1 / 3",
								"1 / 1 / 3",
								"1 / 4 / 3",
								"3 / 1 / auto / 3",
							],
							mode2: [
								"3 / 2",
								"2 / 1 / 4",
								"2 / 4 / 4",
								"1 / 2",
								"3 / 3 / auto / 5",
								"1 / 4 / 3",
								"1 / 1 / 3",
								"1 / 4 / 3",
								"3 / 1 / auto / 3",
							],
						},
						player: {
							num: 3,
							show: [true, true, true],
							list: [
								{ id: 0, gridArea: ""},
							],
							modeMap : {
								3: [],
								4: [],
								5: [0],
								6: [0, 3],
								7: [0, 1, 2, 5],
								8: [0, 1, 2, 3],
								9: [1, 2, 3, 4],
							},
						},
					};
				},
				updated() {
					if (!isNaN(this.player.num) && this.player.num) {
						this.initPlayersPos();
					}
				},
				computed: {
					gridArea() {
						let newList = [];
						for (let i = 0; i < 9; i++) {
							newList.push(this.getGridArea(i));
						}
						return newList;
					},
					playerName() {
						return [0, "1", "2", 3, 4, 5, 6, 7, "8"];
					},
				},
				methods: {
					getMode2list() {
						let list = [];
						let mode2list = this.player.modeMap[this.player.num];
						if (mode2list) list=mode2list;
						return list;
					},
					getGridArea(i) {
						if (this.getMode2list().includes(i)) {
							return `grid-area: ${this.rect.mode2[i]}`
						} else {
							return `grid-area: ${this.rect.mode1[i]}`
						}
					},
					initPlayersPos() {
						if (!this.checkPlayerNum()) return -1;
						this.hidePlayers();
						let newList = [];
						for (let i = 0; i < this.player.num; i++) {
							this.player.show[i] = true;
							newList.push({id: i, gridArea: this.getGridArea(i)});
						}
						this.player.list = newList;
					},
					checkPlayerNum() {
						if (this.player.num < 3 || this.player.num > 9) {
							alert("请输入3-9之间的数值！");
							console.log(this.player.num);
							this.player.num < 3
								? (this.player.num = 3)
								: (this.player.num = 9);
							return false;
						} else {
							return true;
						}
					},

					hidePlayers() {
						if (this.player.show.length <= this.player.num) return -1;
						this.player.show = this.player.show.slice(0, this.player.num);
					},

				},

				mounted() {
					this.initPlayersPos();
				},
			});

			app.component("single-player-wrap", {
				props: ['pos'],
				template: `
				<div :style="getGridArea(0)">
        <img
          class="player-img"
          src="Images/Cyberboy/idle-right.png"
        />
        <p class="display-names">AI by vue{{ pos.id }}</p>
      	</div>
				`,

			});

			app.mount("#game-page");
		</script>
	</body>
</html>
