body {
	margin: 0;
}

/* body里层的游戏画布，设置画布大小及背景 */
.game-canvas {
	/* 大小：充满屏幕 */
	margin: 0 auto;
	height: 100vh;
	/* 背景图片 */
	background-image: url(../Images/background.jpg);
	background-position: center;
	background-size: cover;
}

/* 包裹整个游戏，不同页面的共同设置 */
.canvas-wrap {
	display: flex;
	height: 100%;
}