/* 包裹游戏主界面中所有players的div */
.players-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.player-img {
  width: 6rem;
}

.player-leftWard {
  transform: scale(-1, 1);
}

.player-rightWard {
  transform: scale(1, 1);
}

